.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
    width: 40%;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    box-sizing: border-box;
}

.modalTitle {
    margin: 1em 0em 1em 0em;
    text-align: center;
    color: black;
    font-weight: 400;
}

.xClose {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

#modalUpload .xClose {
    justify-content: space-between;
}

.modalButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalGallery {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 5em;
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.modalGallery figure {
    position: relative;
    z-index: 0;
}

.modalGallery img {
    width: 100%;
}

.modalGallery span {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: black;
    padding: 0.4em;
    border-radius: 4px;
}

.modalGallery i {
    color: #ffffff;
}

.addModalBtn,
.uploadPhotoBtn {
    font-family: "Syne";
    width: 180px;
    border-radius: 60px;
    padding: 0.5em 0.3em 0.5em 0.3em;
    cursor: pointer;
}

.addModalBtn {
    color: white;
    background-color: #1d6154;
    border: 1px solid #1d6154;
    margin-bottom: 1em;
}

.uploadPhotoBtn {
    color: #306685;
    background-color: #b9c5cc;
    border: 1px solid #b9c5cc;
    text-align: center;
}

.modalForm {
    box-sizing: border-box;
    margin: 0 3em;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.modalForm label {
    margin: 2em 0 1em 0;
}

.photoForm label {
    margin: 0;
}

.modalForm input,
.modalForm select {
    height: 30px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.photoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e8f1f6;
    height: 169px;
    border-radius: 5px;
}

.photoForm i {
    color: #b9c5cc;
}

/* Gray line between select category and submit button */
.modalSubmit {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 3em;
}

/* Submit button not clickable */
.modalSubmit input[type="submit"]:disabled {
    background-color: grey;
    cursor: not-allowed;
}

/* Hide the standard input file */
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Style for the preview image */
.photoForm img {
    box-sizing: border-box;
    height: 100%;
}

/* Style for input and select when they are invalid */
.modalForm input.touched:invalid,
.modalForm select.touched:invalid {
    border: 1px solid red;
    box-shadow: 0px 4px 14px rgba(244, 1, 1, 0.09);
}
