.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
    width: 40%;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    box-sizing: border-box;
}

.modalTitle {
    margin: 1em 0em 1em 0em;
    text-align: center;
    color: black;
    font-weight: 400;
}

.xClose {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

#modalUpload .xClose {
    justify-content: space-between;
}

.modalButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalGallery {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 5em;
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.modalGallery figure {
    position: relative;
    z-index: 0;
}

.modalGallery img {
    width: 100%;
}

.modalGallery span {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: black;
    padding: 0.4em;
    border-radius: 4px;
}

.modalGallery i {
    color: #ffffff;
}

.addModalBtn {
    font-family: "Syne";
    color: white;
    background-color: #1d6154;
    border: 1px solid #1d6154;
    width: 180px;
    border-radius: 60px;
    padding: 0.5em 0.3em 0.5em 0.3em;
    margin-bottom: 1em;
    cursor: pointer;
}
